@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h2,
h3 {
    color: #376694;
}

nav {
    background-color: #376694;
    padding: 5px;
    position: sticky;
    top: 0;
    overflow: auto;
    z-index: 99;
}

header {
    display: inline;
}

.link {
    float: left;
}

.search {
    float: right;
}

.search input[type=text] {
    padding: 8px 7px 8px 7px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
}

.link a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.link a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.link li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-image: url('../assets/images/japan.jpg');
    background-size: cover;
    position: relative;
}

.over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2d5074;
    opacity: 0.5;
}

.jumbotron h1,
p {
    position: relative;
}

main {
    padding: 20px;
    overflow: auto;
}

#content {
    float: left;
    width: 75%;
}

.profile header {
    text-align: center;
}

.profile img {
    width: 200px;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

a {
    text-decoration: none;
}

.profile-photo {
    border-radius: 100%;
}

.card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.featured-image {
    border-radius: 5px;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

.name {
    color: #376694;
    font-size: 18pt;
    text-align: center;
    font-weight: 700;
}

footer {
    padding: 20px;
    color: white;
    background-color: #376694;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    nav {
        overflow: hidden;
    }
    .link {
        float: none;
        text-align: center;
        padding-right: 25px;
    }
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
    .search {
        margin: 0px 10px 0px 10px;
        float: none;
    }
    #search {
        padding: 8px 7px 8px 7px;
        margin-bottom: 10px;
        width: 100%;
    }
}
